#header {
		background-color:black;
		color:white;
		text-align:center;
		padding:5px;
		}
#all    {
		width:500px;
		height:300px
		float:left;
		padding:10px;	
		}
#left 	{
		line-height:30px;
		background-color:#eeeeee;
		height:450px;
		width:100px;
		float:left;
		padding:5px;	      
		}

#section {
		width:350px;
		height:450px;
		float:left;
		padding:10px;	 	 
		}
#footer {
		background-color:black;
		color:white;
		clear:both;
		text-align:center;
		padding:5px;	 	 
		}
